/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #b12f07;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
