.about{
    padding: 80px 16px;
    color: #b2b2b2;
}

.about__container-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__container-col-1{
    flex-basis: 35%;
}

.about__photo{
    width: 100%;
    border-radius: 15px;
}

.about__container-col-2{
    flex-basis: 60%;
}


.about__container-tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.about__container-tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.about__container-tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #be4f0e;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about__container-tab-links.active-link::after{
    width: 50%;
}

.about__container-tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.about__container-tab-contents ul li span{
    color: #be4f0e;
    font-size: 14px;
}

.about__container-tab-contents{
    display: none;
}
.about__container-tab-contents.tab-active{
    display: block;
}

.icon__skill{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.button__skill{
    width: fixed;
    background-color: #be4f0e;
    border-radius: 15px 70px 15px 70px;
    color: #fff;
    border: 1px solid #be4f0e;
    padding: 8px;
}

.button__skill:hover{
    border-radius: 60px 15px 60px 24px;
    background-color: #430b68;
    border: 1px solid #430b68;
}